<div class="container" >
    <div class="col">
        <h3>CHILD</h3>
        <div class="row" style="text-align: center;">
            <p>Menssage: {{msgInput}}</p>
            <div class="col">
                <button class="btn btn-primary boton" (click)="mensajeService()">Use Service</button>
                <button class="btn btn-primary boton" (click)="mensajeOutput()">Use Output Event</button>
                <button class="btn btn-primary boton" (click)="mensajeSubject()">Use Observable</button>
            </div>
        </div>
    </div>
</div>
